{% extends 'core/base.html' %}

{% block contenido%}
<table class="table table-hover" style="width: 80%;">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Edad</th>
                <th scope="col">Telefono</th>
                <th scope="col">Dirección</th>
                <th scope="col">Cargo</th>
            </tr>
        </thead>
        <tbody>
            {% for p in personas %}
            <tr>
                <td>{{ p.nombre|add:' '|add:p.apellido }}</td>
                <td>{{ p.edad }}</td>
                <td>{{ p.telefono }}</td>
                <td>{{ p.direccion }}</td>
                <td>{{ p.tipo_persona.descripcion }}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock contenido%}